.bike-name {
  font-family: $logo-font;
}

.location-share-save {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-share-save > a {
  color: grey;
  border-bottom: 2px solid;
}

.location-share-save .fas {
  margin-right: 5px;
}

.links-share-save {
  display: flex;
  justify-content: space-between;
}

.links-share-save .fas {
  font-size: 14px;
  padding-top: 5px;
  color: black;
}

.btn-share, .btn-save {
  display: flex;
  margin-left: 10px;
  padding: 6px;
  color: black;

  &:hover {
    background-color: #ebeae8;
    border-radius: 8px;
    color: black;
  }

  .link-text {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 2px solid;
  }
}

.bike-container a {
  text-decoration: none;
}

.bike-container {
  min-height: 80vh;
}

.info-and-rental-form {
  display: flex;
  justify-content: space-between;
}

.info-and-rental-form .fas {
  width: 20px;
}

.bike-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.bike-show-imgs {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0px 0px 30px #cdc9c9;

  img {
    max-height: 100%;
    padding: 8px;
    max-width: 100%;
  }
}

.info-and-imgs {
  // border: 1px solid black;
  padding: 10px;
  width: 60%;
  box-shadow: 0px 0px 30px #cdc9c9;
  border-radius: 8px;
}

.info {
  padding-left: 10px;
}
