// Specific CSS for your home-page
body {
  padding-top: 74px;
}

.form-add-cocktail {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
