.dashboard {
  margin-top: 30px;
    & h1 {
      font-family: $logo-font;
      color: #2A3241;
  }
}

.dashboard-content {
  display: flex;
  justify-content: center;
  & h2{
    color: #ffffff;
    font-family: $logo-font;
  }
}


// MY BIKES COLUMN
.my-bikes {
  background-color: #2A3241;
  border-radius: 4px;
  padding: 15px 20px;
  margin-bottom: 15px;
  flex: 1;
}

.my-rentals {
  background-color: #2A3241;
  border-radius: 4px;
  padding: 15px 20px;
  margin-bottom: 15px;
  margin-right: 15px;
  flex: 1.5;
}

.db-col-title {
  color: #ffffff;
  font-size: 24px;
}

.db-count {
  float: right;
  margin: 8px 5px 0px;
  font-family: $body-font;
  color: #ffffff;
  text-align: right;
  font-weight: normal;
}
