<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.ldscdn.org/images/media-library/missionary/sister-missionaries-956170-wallpaper.jpg?download=true);">
  <div class="container">
    <h1>Explore Your Destination</h1>
    <div><%= link_to "Log in", new_user_session_path, class: "btn btn-login" %></div>
    </div>
  </div>
</div>
