<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.ldscdn.org/images/media-library/missionary/sister-missionaries-956170-wallpaper.jpg?download=true);">
  <div class="container">
    <div class="row justify-content-center">
      <h1>Explore Your Destination</h1>
      <div class="text-align-center">
        <form class="form-inline my-2 my-lg-0 justify-content-center form-search-location" tabindex="1">
          <input class="form-control mr-sm-2" type="search" placeholder="Enter location" aria-label="Search">
          <button class="btn btn-search my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>
