<div class="container">
  <div class="row">
    <div class="col-xl-6 offset-xl-3 ">
      <div class="dashboard">
        <h1>Bikes for Rent</h1>
        <%= render "bike_card" %>
      </div>
    </div>
  </div>
</div>
