<div class="container">
  <div class="dashboard">
    <h1>Dashboard</h1>
    <div class="welcome-card">
      <div class="welcome-text">
      <h2>Welcome back <%= current_user.first_name %>!</h2>
      <p>This is your Dashboard here you can see all </br> Information about your Bikes and Rentals. </p>
    </div>
    <div class="welcome-img">
      <%= image_tag("bike-il.svg") %>
    </div>
      </div>
    <div class="dashboard-content">
      <%= render "my_rentals" %>
      <%= render "my_bikes" %>
    </div>
  </div>
</div>
