.banner {
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 250px 0;
  text-align: center;
  height: 92vh;
}

.banner h1 {
  margin: 0;
  // color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: lighter;
  font-size: 76px;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
