.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  padding: 250px 0;
  text-align: center;
  height: 92vh;
}

.banner h1 {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: lighter;
  font-size: 76px;
  font-family: $logo-font;
  font-weight: bold;
  color: #fff;
  opacity: 0.8;
}

.banner > .container {
  height: 300px;
}

.banner .row {
  height: 160px;
}

.banner .btn-login {
  padding: 10px 70px;
  background-color: #E0FBFC;
  opacity: 0.8;
  font-size: 36px;
  color: black;

  &:hover {
    background-color: #B3CACB;
  }
}
