.bike-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

.bike-card h1 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.bike-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
