
.bike-card a {
    text-decoration: none;
    color: #2A3241;
  }

.bike-card-index  {
  margin: 0;
  padding: 0;
  background-origin: border-box;
  display: flex;
  justify-content: space-between;
}

.bike-card{
  border-radius: 6px;
  background-color: #ffffff;
  width: 300px;
  background: white;
  display: flex;
  overflow: hidden;
  margin: 15px 0px;
  &:hover {
    border: 3px solid #B4D5EC;
  }
}


.bike-card-img img {
  width: 300px;
  height: 250px;
 border-radius: 6px 6px 0px 0px;
 &:hover {
  opacity: 0.5;
 }
}

.db-bike-card-img img {
 width: 300px;
 border-radius: 6px 6px 0px 0px;
}



.botton-hover {
  border: 3px solid #035AC1;
  border-radius: 6px;
  width: 200px;
  text-align: center;
  padding: 15px 0px;
  margin-left: 50px;
  position: relative;
  top: 130px;
  display: none;
  & h4{
    font-size: 16px;
    font-weight: bold;
    color: #035AC1;
  }
}

.bike-card-info{
  position: sticky;
  padding:20px 15px 10px;
}

.upper-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 6px;
}

.card-info{
  // position: absolute;
  display: flex;
  flex-direction: column;
}

.title{
  font-weight: bold;
  margin: 0;
}
 // card text

.price {
  color: #035AC1;
}

.category {
  margin: 0px;
}

.title h1 {
  font-weight: bold;
  font-size: 28px;
}

.bottom-info p {
  font-family: $body-font;
  font-weight: normal;
  font-size: 16px;
}

.category {
  color: #035AC1;
}
