.welcome-card {
  display: flex;
  justify-content: space-between;
  height: 170px;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #C3E7FF;
  border-radius: 4px;
  padding: 15px 20px;
      & h2 {
      font-family: $logo-font;
      color: #2A3241;
  }
}


.welcome-img img {
  height: 200px;
  position: relative;
  bottom: 65px;
  right: 20px;
}

.welcome-text {
  padding-top: 18px;
  & p {
    width: 450px;
    font-family: $body-font;
    font-width: regular;
    color: #2A3241;
    font-size: 18px;
  }
}


@media(max-width: 768px) {
  .welcome-img img {
  height: 150px;
  bottom: 40px;
  right: 10px;
}
 .welcome-text {
  padding-top: 18px;
  & p {
    width: 250px;
    font-size: 16px;
  }
}

.welcome-text h2 {
  font-size: 24px;
  padding-top: 15px;
  }
}
